nbody {
    background-size: cover;
     font-family: Arial, sans-serif;
     
     background-color: rgb(220, 209, 209);
     text-align:center;
   }
   
   .nav {
     display: flex;
     justify-content: space-around;
     align-items:normal;
     background-color:rgb(57, 20, 45);
     color: rgb(155, 159, 151);
     padding: 20px 30PX;
   }
   
  
   .nav a{
     color:white ;
     text-decoration:none ;
     margin: 0px;
  }
    
   
  .wallpaper{
   display:flexbox ;
   background-size: cover;
  
  }
 
   .clock {
     text-align: right;
     margin-top: 8px;
     color: azure;
   }